<div class='container m-5'>
  <h1>レビュー投稿</h1>
  <form class="form-horizontal">
  <%= form_with model: @review, url: reviews_path do |f| %>
    <div class="form-group">
      <%= f.label :タイトル, class: "col-2 control-label" %>
      <%= f.text_field :title, placeholder: 'タイトル', class: "col-3" %>
    </div>
    <div class="form-group">
      <%= f.label :商品説明, class: "col-2 control-label" %>
      <%= f.text_area :article, placeholder: 'ここにレビュー内容を記述します', class: "col-3" %>
    </div>
    <div class="form-group">
      <%= f.label :ジャンル, class: "col-2 control-label" %>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "--選択してください--"}, class: "col-3" %>
    </div>
    <div class="form-group">
      <%= f.submit '新規登録', class: 'btn btn-success' %>
    </div>
  <% end %>
  </form>
</div>