<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
  		<h2>review detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%#= link_to (@review.user) do %>
            <%#= image_tag review.user.get_profile_image, size:"100x100" %><br>
            <%#= @review.user.name %>
            <%# end %>
          </td>
          <td><%= link_to @review.title, @review %></td>
          <td><%= @review.article %></td>
          <td>ジャンル：<%= @review.genre.name %></td>
          
          <td><% if @review.user == current_user %>
          <td> <%= link_to 'Edit', edit_review_path(@review), class: "btn btn-sm btn-success" %></td>
             <% end %>
          </td>
          <!--<td>コメント件数：<%#= @review.comments.count %></td>-->
          <td><% if @review.user == current_user %>
          <td> <%= link_to 'Destroy', @review, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
          </td>
          </td>
        </tr>
        </table>
        <div id="comments_index"><%#= render "comments/index", review: @review %></div>
        <div id="comments_text"><%#= render "comments/form", review: @review, comment: @comment %></div>
    </div>
  </div>
</div>